@charset "UTF-8";

#sayfa #main #icerik ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#sayfa {
	background-color: #FFF;
	border-top-color: #CCC;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
	margin-right: 0px;
	margin-left: 0px;
	width: 800px;
	border-top-width: medium;
	border-bottom-width: medium;
}
#header {
	letter-spacing: 2px;
	text-align: center;
}
#main {
	margin: 0px;
	border-top-width: thick;
	border-right-width: medium;
	border-bottom-width: thick;
	border-left-width: medium;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	width: 800px;
	float: none;
	clear: right;
	border-top-color: #666;
	border-bottom-color: #666;
	padding: 0px;
}
#solmenu {
	background-color: #999;
	min-height: 400px;
	height:auto!important;
	text-decoration: none;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	font-size: 12px;
	width:200px;
}
#sayfa #main #solmenu ul {
	text-decoration: none;
	display: block;
	margin: 0px;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 50px;
	
}
#sayfa #main #solmenu ul li {
	text-decoration: none;
	display: block;
	
}
#sayfa #main #solmenu ul li a {
	text-decoration: none;
	display: block;
	text-align: left;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #903;
	line-height:25px;
	
}
#icerik {
	background-color: #CCC;
	float: right;
	min-height: 400px;
	height:auto!important;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	width: 600px;
}
#footer {
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	font-style: normal;
	clear: both;
}
#sayfa #main #icerik ul li a {
	padding-top: 2px;
	padding-bottom: 2px;
	display: block;
	text-decoration: none;
	with: auto;
	height: auto;
	
}
#sayfa #main #icerik ul li a:hover {
	color: #F00;
}
.aktifMenu{
  font-weight:bold;	
}

